body{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

span {
    font-weight: 700;
}

.wrapper {
    display: flex;
}

.sidebar-wrapper {
    background: #42A8C0;
    color: #fff;
    margin: 0 auto;
    max-width: 350px;
}

.profiler-container{ 
    width: 250px;
    height: 250px;
    background-image: url(./image/profiler-photo.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 55px;
}

.contact-container{
    margin-bottom: 55px;
}

.contact-items{
    list-style: none;
}

.contact-item {
    margin-bottom: 15px;
}

.icon{
    margin-right: 10px;
}

.contact-social{
    text-decoration: none;
    color: #fff;
}
.location {
    display: inline-block;
}

.skills-container {
    margin: 0px 32px;
}

.title {
    margin: 25px 0px;
}

.main-wrapper {
    margin: 45px;
}

.profiler-name {
    color: #045365;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 45px;
}

.profiler-main-title {
    color: #045365;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.profiler-title {
    color: #42A8C0;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.profiler-list{
    margin-bottom: 25px;
}

.profiler-info{
    margin-bottom: 25px;
}

.skills-list {
    margin-bottom: 55px;
}

.job-title {
    font-weight: 700;
    margin-bottom: 0;
}

.profiler-items {
    display: flex;
}

.vertical-line {
    border: 1px solid #47494c;    
    height: 26px;
    margin: 0 7px;
}

.skill-info {
    margin-bottom: 0;
}

.education-title {
    color: #343435;
    font-weight: 700;
    margin-bottom: 0;
}

@media (max-width: 992px){
    .sidebar-wrapper{
        width: 300px;
    }
    .profiler-container{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 852px){
    .profiler-items{
        flex-direction: column;
    }
    .vertical-line{
        height: 1px;
        margin: 0;
    }
    .profiler-company{
        margin-bottom: 0;
    }
    .job-title {
        margin-bottom: 15px;
    }
    .education-title {
        margin-bottom: 10px;
    }
}

@media (max-width: 765px){
    .profiler-name{
        font-size: 28px;
    }
    .profiler-main-title{
        font-size: 20px;
    }
}

@media (max-width: 620px){
    .sidebar-wrapper {
        width: 200px;
    }
    .profiler-container{
        width: 150px;
        height: 150px;
        margin: 25px auto;
    }
    .contact-items {
        padding-left: 15px;
    }
    .skills-container{
        margin-left: 5px;
        margin-right: 5px;
    }
    .icon {
        margin-right: 3px;
    }
    .contact-social{
        font-size: 10px;
    }
    .main-wrapper{
        margin: 20px;
    }
    .profiler-name{
        font-size: 20px;
    }
    .profiler-main-title {
        font-size: 15px;
    }
    .profiler-title{
        margin-bottom: 20px;
        font-size: 17px;
    }
}

@media (max-width: 480px){
    body{
        font-size: 12px;
    }
    .main-wrapper{
        margin: 15px;
    }
}

@media (max-width: 345px){
    body{
        font-size: 10px;
    }
    .main-wrapper{
        margin: 10px;
    }
}


