body{
    max-width: 1200px;
    margin: auto;
}

span {
    font-weight: 700;
}

.wrapper {
    display: flex;
}

.sidebar-wrapper {
    background: #42A8C0;
    color: #fff;
    margin: 0 auto;
    min-width: 350px;
}

.profiler-container{ 
    width: 250px;
    height: 250px;
    background-image: url(./image/profiler-photo.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 35px auto;
}

.contact-items{
    list-style: none;
}

.contact-item {
    margin-bottom: 15px;
}

.icon{
    margin-right: 10px;
}

.contact-social{
    text-decoration: none;
    color: #fff;
}
.location {
    display: inline-block;
}

.skills-container {
    margin: 0px 32px;
}

.title {
    margin: 25px 0px;
}

.main-wrapper {
    margin: 45px;
}

.profiler-name {
    color: #045365;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 45px;
}

.profiler-main-title {
    color: #045365;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.profiler-title {
    color: #42A8C0;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.profiler-info{
    margin-bottom: 25px;
}

.skills-list {
    margin-bottom: 25px;
}

.profiler-experience {
    font-weight: 700;
    margin-bottom: 0;
}

.profiler-items {
    display: flex;
}

.vertical-line {
    border: 1px solid #47494c;    
    height: 26px;
    margin: 0 15px;
}

.skill-info {
    margin-bottom: 0;
}



